body {
  background-color: #effffd;
}
h2 {
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 1000;
  margin-top: 0rem;
}
h4 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  margin-top: -1.5rem;
  margin-left: 1rem;
}
form {
  text-align: center;
  margin-top: 1rem;
  color: #66bfbf;
}
form p {
  font-size: 1.2rem;
}
#day {
  width: 2.5rem;
  font-size: 1.2rem;
}
#year {
  width: 4rem;
  font-size: 1.2rem;
}
#dropdown {
  font-size: 1.3rem;
  width: 7.9rem;
  margin-top: 15px;
}
#button {
  background-color: #66bfbf;
  margin: 1rem 0 0 -1.5rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.3rem;
  border-radius: 10px;
}
.para {
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: justify;
  margin: -1.3rem 1rem 0.5rem 1rem;
  color: #66bfbf;
}
.bpara {
  font-size: 1.5rem;
  font-weight: bold;
  color: #66bfbf;
  font-family: cursive;
}
span {
  font-weight: bold;
  font-size: 1.3rem;
}
#bottom {
  width: 90%;
  position: absolute;
  bottom: 0;
  color: #66bfbf;
  margin: 0 0 -1rem 1.5rem;
}
a {
  text-decoration: none;
}
.logo {
  width: 11%;
  margin: 0 1.5rem -1rem 0;
}
.bot-p {
  font-weight: bold;
  font-size: 1.2rem;
  margin: -2rem 0 0 0;
}

@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
  }
  h4 {
    text-align: center;
    font-size: 2rem;
  }

  form {
    text-align: center;

    margin-top: 5rem;
  }
  form p {
    font-size: 2rem;
  }
  #day,
  #dropdown,
  #year {
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 10px;
  }
  #day {
    width: 6rem;
  }
  #dropdown {
    width: 17rem;
  }
  #year {
    width: 8rem;
  }
  #button {
    font-size: 3rem;
    margin: 2rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  .bpara {
    font-size: 4rem;
    font-weight: bold;
  }
  .para {
    font-size: 2.5rem;
    text-align: justify;
    line-height: 1.8;
    margin: 1rem 3rem 0 3rem;
  }
  #bottom {
    margin-left: 4rem;
  }
  img {
    width: 15%;
  }
  .bot-p,
  #bottom p {
    font-size: 2rem;
  }
}
