#body{
  background-color: #EFFFFD;
}
#bottom{
  width: 90%;
  position: absolute;
  bottom: 0;
}
img{
  width: 10%;
  margin: 0 0.7rem 0 1rem;
}
#head{
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 3rem;
  text-align: center; 
  margin-top: 1rem;
}
#head2{
  color: #66BFBF;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 1.9rem;
}
h3{
 font-family: 'Montserrat', sans-serif;
}
.bot-p{
  margin-left: 5%;
  color: #66BFBF;
  font-size: 1rem;
}
form{
  margin-left: 2rem;
  margin-top: 2rem;
  color: #66BFBF;
}
.btn{
  margin-top: 1rem;
}
#dropdown{
  font-size: 1.27rem;
}
#button{
  background-color: #66BFBF;
}
.para{
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  margin-right: 1rem;
  color: #66BFBF;
}
.bpara{
  font-size: 1.5rem;
  font-weight: bold;
  color: #66BFBF;
  font-family:  cursive;
}
#span{
  font-family: cursive;
  font-size: 1.5rem;
}
@media (min-width: 768px){
#head, #head2{
    font-family: Sans-Serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
  }
#head2{
    font-size: 3rem;
}
form{
  font-size: 4rem;
  text-align: center;
  margin-top: 5rem;
}
#dropdown{
  font-size: 5rem;
}
.bot-p{
  font-size: 3rem;
  margin-left: 
}
.para{
  font-size: 3rem;
  text-align: justify;
  line-height: 2;
  margin: 1rem 3rem 0 0.5rem;
}
.bpara{
  font-size: 4.3rem;
  font-weight: bold;
}
img{
  margin: 2%;
  width: 15%;
}
#bottom{
  margin-left: 4rem;
}
#button{
  font-size: 4rem;
  width: 40%;
  margin-top: 2rem;
}
#span{
  font-size: 4rem;
}
}